@model Shopvelo.Models.Order
<body style="background-color:coral">
    <div style="text-align:center">
        <h3>Oprer</h3>
        @Html.ValidationSummary()
        <form method="post" style="text-align:center">
            <input type="hidden" value="@ViewBag.BakeId" name="BakeId" />
            <div class="form-group">
                @Html.LabelFor(x=>x.Username)
                <p></p>
                @Html.TextBoxFor(x=>x.Username)
                @*@Html.ValidationMessageFor(x=>x.Username)*@
                
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Adress)
                <p></p>
                @Html.TextBoxFor(x => x.Adress)
                @*@Html.ValidationMessageFor(x=>x.Adress)*@
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Tel)
                <p></p>
                @Html.TextBoxFor(x => x.Tel)
                @*@Html.ValidationMessageFor(x=>x.Tel)*@
            </div>
            <input type="submit" class="btn btn-light" />
        </form>
    </div>

</body>
